In [8]:
import sqlite3
import traceback


def getTimestamps(conn):
    cur = conn.cursor()
    try:
        cur.execute("SELECT timestamp FROM General")
        rows = cur.fetchall()
        # return rows
        return [row[0].replace("(\'", "").replace("\',)","") for row in rows]
        
    except:
        print("Error leyendo de la base de datos: ")
        traceback.print_exc()
        

def getData(conn):
    cur = conn.cursor()  
    try:
        cur.execute(""" SELECT General.timestamp, Marea.nivel, Temperatura.temp_agua, Temperatura.temp_aire, Oleaje.altura, Oleaje.direccion_procedencia, Oleaje.periodo_medio, Viento.direccion_procedencia, Viento.velocidad_media
                        FROM General
                        INNER JOIN Marea ON General.id_marea=Marea.id
                        INNER JOIN Temperatura ON General.id_temperatura=Temperatura.id
                        INNER JOIN Oleaje ON General.id_oleaje=Oleaje.id
                        INNER JOIN Viento ON General.id_viento=Viento.id""")
        rows = cur.fetchall()
        return rows
        
    except:
        print("Error leyendo de la base de datos: ")
        traceback.print_exc()
        
def getDataByTimestamp(conn, timestamp):
    cur = conn.cursor()  
    try:
        cur.execute(""" SELECT General.timestamp, Marea.nivel, Temperatura.temp_agua, Temperatura.temp_aire, Oleaje.altura, Oleaje.direccion_procedencia, Oleaje.periodo_medio, Viento.direccion_procedencia, Viento.velocidad_media FROM General
                        INNER JOIN Marea ON General.id_marea=Marea.id
                        INNER JOIN Temperatura ON General.id_temperatura=Temperatura.id
                        INNER JOIN Oleaje ON General.id_oleaje=Oleaje.id
                        INNER JOIN Viento ON General.id_viento=Viento.id
                        WHERE General.timestamp=? """, [timestamp])
        rows = cur.fetchall()
        return rows
        
    except:
        print("Error leyendo de la base de datos: ")
        traceback.print_exc()
        
def getImagesByTimestamp(conn, timestamp):
    cur = conn.cursor()  
    try:
        cur.execute(""" SELECT General.foto1, General.foto2, General.foto3 FROM General
                        WHERE General.timestamp=? """, [timestamp])
        record = cur.fetchall()
        
        # return record
        
        imgs = []
        
        for i in range(3):
            nparr = np.fromstring(record[0][i], np.uint8)
            imgs.append(cv2.imdecode(nparr,cv2.IMREAD_COLOR))
            
        return imgs

        
    except:
        print("Error leyendo de la base de datos: ")
        traceback.print_exc()

In [9]:
import numpy as np
import cv2
import matplotlib.pyplot as plt


conn = sqlite3.connect('data/historicData.db')

rows =getTimestamps(conn)
print(rows)



conn.close()

['2022-05-03 19:00:00.000000', '2022-05-03 20:00:00.000000', '2022-05-03 21:00:00.000000', '2022-05-03 22:00:00.000000', '2022-05-03 23:00:00.000000', '2022-05-04 00:00:00.000000', '2022-05-04 01:00:00.000000', '2022-05-04 02:00:00.000000', '2022-05-04 03:00:00.000000', '2022-05-04 04:00:00.000000', '2022-05-04 05:00:00.000000', '2022-05-04 06:00:00.000000', '2022-05-04 07:00:00.000000', '2022-05-04 08:00:00.000000', '2022-05-04 09:00:00.000000', '2022-05-04 10:00:00.000000', '2022-05-04 11:00:00.000000', '2022-05-04 12:00:00.000000', '2022-05-04 13:00:00.000000', '2022-05-04 14:00:00.000000', '2022-05-04 15:00:00.000000', '2022-05-04 16:00:00.000000', '2022-05-04 17:00:00.000000', '2022-05-04 18:00:00.000000', '2022-05-04 19:00:00.000000']